#navbar{
    display: flex;
    justify-content: end;
}
#navbar>a{
    margin-right: 15px;
    
}
#menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 10px;
}
.nob{
    text-decoration: none;
    color: black;
}